{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

    <!-- Breadcromb Wrapper Start -->
<div class="breadcromb-wrapper">
  <div class="breadcromb-overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="breadcromb-left">
          <h3>Cookies</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="breadcromb-text">
  <div class="container">
    <ul>
      <li><a href="/"><i class="fa fa-home"></i>Home</a></li>
      <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
      <li>Cookies</li>
    </ul>
  </div>
</div>
<!-- Breadcromb Wrapper End -->
<!-- Inner Page Wrapper Start -->
<div class="inner-page-wrapper our-services-wrapper">
  <div class="container">
    <div class="row">
        <h2>Cookies</h2>
      <p>Cookies are small text files held on your computer. They allow us to give you the best browsing experience possible and mean we can understand how you use our site. Some cookies have already been set. You can delete and block cookies but parts of our site may not work without them. By using our website you accept our use of cookies.</p>
        <h3>Find out more about cookies</h3>
        <p>By using the <strong>Johnny the Hat Electrics</strong> website you’re confirming that
you’re happy to accept our use of cookies.</p>
        <p>The Cookies we use are small files placed on your computer’s hard drive or in your browser memory when you visit a website.

Cookies help to make the interaction between users and websites faster and easier. For example, they can remember your preferences, login details or information you supply as you move through an application process. What cookies don’t do is store any personal or confidential information about you.</p>
        <h3>What our cookies do</h3>
        <p>Yes, cookies are small text files. They don’t look into your computer or read any personal information or other material on your hard drive. Our cookies don’t carry viruses or install anything harmful on your computer.</p>

        <p>Cookies are important for things like online shopping – for example they’ll remember the items in your shopping basket and make sure they stay there until you complete your transaction.</p>

        <p>In a similar way, if you register an account on the  Johnny the Hat Electrics web site, cookies help our site remember the information you give us so when you revisit our website, the cookies remember your preferences or registration details.</p>
    </div>
  </div>
</div>
<!-- Inner Page Wrapper End -->

{% endblock %}