{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

    <!-- Breadcromb Wrapper Start -->
<div class="breadcromb-wrapper">
  <div class="breadcromb-overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="breadcromb-left">
          <h3>Service details</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="breadcromb-text">
  <div class="container">
    <ul>
      <li><a href="/"><i class="fa fa-home"></i>Home</a></li>
      <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
        <li><a href="{% url 'services' %}">Services</a></li>
      <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
      <li>Service details</li>
    </ul>
  </div>
</div>
<!-- Breadcromb Wrapper End -->
<!-- Inner Page Wrapper Start -->
<div class="inner-page-wrapper service-details-wrapper">
  <div class="container">
    <div class="service-details-tabs">
      <ul class="nav nav-tabs">
        <li class="active show"><a data-target="#menu1" data-toggle="tab" href="#">Services1</a></li>
        <li><a data-toggle="tab" data-target="#menu2" href="#menu2">Services2</a></li>
        <li><a data-toggle="tab" data-target="#menu3" href="#menu3">Services3</a></li>
        <li><a data-toggle="tab" data-target="#menu4" href="#menu4">Services4</a></li>
        <li><a data-toggle="tab" data-target="#menu5" href="#menu5">Services5</a></li>
      </ul>
      <div class="tab-content">
        <div id="menu1" class="tab-pane fade active in">
          <div class="row">
            <div class="col-sm-6">
              <ul class="pgwSlider">
                <li><img src="http://via.placeholder.com/880x530/000/fff" alt="" /></li>
                <li><img src="http://via.placeholder.com/880x530/000/fff" alt="" /></li>
              </ul>
            </div>
            <div class="col-sm-6">
              <div class="tabs-content-right">
                <h3>Finibus Bonorum Malorum</h3>
                <p>Eque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Eque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</p>
                <h3>Air Condition</h3>
                <p>Eque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                <ul>
                  <li>Powerfull HTML5 Template</li>
                  <li>Quality Design and more</li>
                  <li>Smooth Design</li>
                  <li>It's ferfect for any business website</li>
                  <li>Powerfull HTML5 Template</li>
                  <li>Quality Design and more</li>
                  <li>Smooth Design</li>
                  <li>It's ferfect for any business website</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div id="menu2" class="tab-pane fade">
        <div class="row">
            <div class="col-sm-6">
              <ul class="pgwSlider">
                <li><img src="http://via.placeholder.com/880x530/000/fff" alt="" /></li>
                <li><img src="http://via.placeholder.com/880x530/000/fff" alt="" /></li>
              </ul>
            </div>
            <div class="col-sm-6">
              <div class="tabs-content-right">
                <h3>Finibus Bonorum Malorum</h3>
                <p>Eque porro quisquam est, ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Eque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</p>
                <h3>Air Condition</h3>
                <p>Eque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                <ul>
                  <li>Powerfull HTML5 Template</li>
                  <li>Quality Design and more</li>
                  <li>Smooth Design</li>
                  <li>It's ferfect for any business website</li>
                  <li>Powerfull HTML5 Template</li>
                  <li>Quality Design and more</li>
                  <li>Smooth Design</li>
                  <li>It's ferfect for any business website</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div id="menu3" class="tab-pane fade">
         <div class="row">
            <div class="col-sm-6">
              <ul class="pgwSlider">
                <li><img src="http://via.placeholder.com/880x530/000/fff" alt="" /></li>
                <li><img src="http://via.placeholder.com/880x530/000/fff" alt="" /></li>
              </ul>
            </div>
            <div class="col-sm-6">
              <div class="tabs-content-right">
                <h3>Finibus Bonorum Malorum</h3>
                <p>Eque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Eque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</p>
                <h3>Air Condition</h3>
                <p>Eque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                <ul>
                  <li>Powerfull HTML5 Template</li>
                  <li>Quality Design and more</li>
                  <li>Smooth Design</li>
                  <li>It's ferfect for any business website</li>
                  <li>Powerfull HTML5 Template</li>
                  <li>Quality Design and more</li>
                  <li>Smooth Design</li>
                  <li>It's ferfect for any business website</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div id="menu4" class="tab-pane fade">
         <div class="row">
            <div class="col-sm-6">
              <ul class="pgwSlider">
                <li><img src="http://via.placeholder.com/880x530/000/fff" alt="" /></li>
                <li><img src="http://via.placeholder.com/880x530/000/fff" alt="" /></li>
              </ul>
            </div>
            <div class="col-sm-6">
              <div class="tabs-content-right">
                <h3>Finibus Bonorum Malorum</h3>
                <p>Eque porro quisquam est, ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Eque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</p>
                <h3>Air Condition</h3>
                <p>Eque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                <ul>
                  <li>Powerfull HTML5 Template</li>
                  <li>Quality Design and more</li>
                  <li>Smooth Design</li>
                  <li>It's ferfect for any business website</li>
                  <li>Powerfull HTML5 Template</li>
                  <li>Quality Design and more</li>
                  <li>Smooth Design</li>
                  <li>It's ferfect for any business website</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div id="menu5" class="tab-pane fade">
          <div class="row">
            <div class="col-sm-6">
              <ul class="pgwSlider">
                <li><img src="http://via.placeholder.com/880x530/000/fff" alt="" /></li>
                <li><img src="http://via.placeholder.com/880x530/000/fff" alt="" /></li>
              </ul>
            </div>
            <div class="col-sm-6">
              <div class="tabs-content-right">
                <h3>Finibus Bonorum Malorum</h3>
                <p>Eque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Eque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</p>
                <h3>Air Condition</h3>
                <p>Eque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                <ul>
                  <li>Powerfull HTML5 Template</li>
                  <li>Quality Design and more</li>
                  <li>Smooth Design</li>
                  <li>It's ferfect for any business website</li>
                  <li>Powerfull HTML5 Template</li>
                  <li>Quality Design and more</li>
                  <li>Smooth Design</li>
                  <li>It's ferfect for any business website</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Inner Page Wrapper End -->

{% endblock %}